body {
  background-image: linear-gradient(
    to right,
    #ed1b24,
    #cccccc,
    /* #385399, */ #23408e
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
}

.credentials {
  background: #f8f8f8;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  max-width: 1000px;
  min-width: 800px;
}

.text {
  margin: auto;
}

.face {
  margin-left: 10px;
  /* margin: 10px; */
  height: 300px;
  width: 240px;
  border-radius: 10px;
}

.linkedin,
.twitter,
.instagram {
  padding: 5px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

ul li {
  list-style: none;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
.allContent {
  max-width: 1000px;
  min-width: 800px;
}
.signUpScreen,
.loginScreen {
  background-color: #f8f8f8;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  max-width: 1000px;
  min-width: 800px;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.signup-form * {
  margin: 5px 0;
  border: none;
}
.login-form * {
  margin: 5px 0;
  border: none;
}
input {
  font-size: 1.5rem;
}
input[type="submit"] {
  font-size: 1.2rem;
  border: 1px solid grey;
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: #23408e;
  color: white;
}
input[type="submit"]:hover {
  color: white;
  background-color: #ed1b24;
}
.signUpButton,
.loginButton {
  width: 400px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 10px 0;
  padding: 10px 0;
  background-color: #23408e;
  color: white;
}
.loginButton:hover {
  color: white;
  background-color: #ed1b24;
}
.signUpButton:hover {
  color: white;
  background-color: #ed1b24;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 0 20px;
}
.dashboard {
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 10px;
  max-width: 1000px;
  min-width: 800px;
  margin-top: 5%;
}
.signOutButton,
.deleteButton {
  cursor: pointer;
  font-size: 1.5rem;
  color: #23408e;
}

.hidden {
  display: none;
}
